<div class="container mt-3">
    <form action="/emp/save-emp" method="post">
        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input type="text" class="form-control" name="fullname" placeholder="Enter FullName">
        </div >

        <div class="mb-3">
            <label  class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Enter Email">
        </div>

        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" name="phone" placeholder="Enter phone">
       
        </div>
        <div class="mb-3">
            <label class="form-label">City</label>
            <input type="text" class="form-control" name="city" placeholder="Enter city">
       
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>

