<div class="container">
    <div class="text-center"><h1>Employee Management System</h1><br>

        <a href="/emp/add-emp" class="btn btn-success"  role="button">Add Employee</a>
        <a href="/emp/show-all-emp" class="btn btn-info"  role="button">Show All</a>
        <a href="/emp/deletePage" class="btn btn-danger"  role="button">Delete</a>
        <a href="/emp/preUpdate" class="btn btn-primary"  role="button">Update</a>

    </div>
</div>